	.octopus {
		position: absolute;
		top: 80px;
		left: 40px;
		z-index:-1}
	.hat {position: absolute;
		top: 10px;
		left: 20px;
		z-index: +1
	}
	.glasses {
		position: absolute;
		top: 180px;
		left: 80px;
	z-index: +0}